.card {
  border: 1px solid #e8e8e8;
}
.card > div:first-of-type {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1px;
}

.avatar {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.cardMeta {
  margin: 0;
  margin-bottom: 1%;
}

.buttonContainer button {
  color: #8c8c8c !important;
}

.buttonContainer button:hover {
  color: #1890ff !important;
}
